@charset "UTF-8";
body {
  width: 100vw;
  overflow: hidden;
}

.home {
  width: 100ww;
  height: 100vh;
  position: relative;
  background-color: #ddd;
}

.container {
  position: absolute;
  left: 100px;
  right: 0;
  top: 140px;
  bottom: 80px;
  background-color: #fff;
}

.nav {
  position: absolute;
  width: 63px;
  height: 100%;
  background-color: #3E3A39;
  right: 0;
  z-index: 10;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
          transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
  overflow: hidden;
  /* 漢堡條 */
}

.nav.open {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #3E3A39;
  right: 0;
  z-index: 100;
}

.nav.full {
  -webkit-transition-timing-function: cubic-bezier(0.36, -0.25, 0.46, 0.98);
          transition-timing-function: cubic-bezier(0.36, -0.25, 0.46, 0.98);
  width: 100%;
}

.nav ul {
  position: absolute;
  left: 170px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav ul li::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  border-bottom: 2px #fff solid;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.nav ul li {
  width: 100px;
  font-size: 40px;
  line-height: 100px;
  color: #fff;
  position: relative;
}

.nav ul li::after {
  content: 'Mountain town Ramble Read All';
  position: absolute;
  font-size: 14px;
  top: 0;
  bottom: 0;
  width: 232px;
  left: 130px;
}

.nav ul :hover::before {
  left: 0%;
  right: 0%;
}

.nav .nav_pic {
  position: absolute;
  width: 290px;
  height: 350px;
  background-image: url(../img/山城慢游-16.jpg);
  background-size: cover;
  background-position: center;
  left: 75vw;
  top: 60px;
}

.nav .ham_bar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav .ham_bar.hide {
  display: none;
}

.nav .ham_bar .bar_line {
  width: 35px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav .ham_bar .bar_line.line1 {
  top: 30%;
}

.nav .ham_bar .bar_line.line3 {
  top: 70%;
}

.nav .ham_bar:hover .line1 {
  top: 25%;
}

.nav .ham_bar:hover .line3 {
  top: 75%;
}

.nav h1 {
  width: 300px;
  position: absolute;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  top: 53%;
  -webkit-transform: rotateZ(90deg) translateY(-27px);
          transform: rotateZ(90deg) translateY(-27px);
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
}

.nav .nav_back {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  left: 21px;
  color: #fff;
  display: none;
}

.nav .nav_back.show {
  display: inline-block;
}

/* 手機板NAV */
.phone_nav {
  display: none;
  position: relative;
  z-index: 10;
}

.phone_nav .phone_list {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3E3A39;
  padding-top: 180px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  /* transition-timing-function: cubic-bezier(.35,-0.31,.63,1.3); */
}

.phone_nav .phone_list.hide {
  right: -500px;
}

/* 手機板漢堡條 */
.phone_ham_bar {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 30px;
}

.phone_ham_bar .phone_bar_line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.phone_bar_line.line1 {
  top: 15%;
}

.phone_bar_line.line3 {
  top: 85%;
}

.phone_bar_line.line1.close {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.phone_bar_line.line2.close {
  opacity: 0;
}

.phone_bar_line.line3.close {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

/* 手機板NAV列表 */
.phone_nav li {
  display: inline-block;
  font-size: 32px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.phone_nav li span {
  font-size: 10px;
  line-height: 32px;
  vertical-align: middle;
  padding-left: 35px;
}

.phone_nav .phone_nav_pic {
  position: absolute;
  width: 70px;
  height: 100px;
  background-image: url(../img/phone_nav_pic-02.jpg);
  left: 20px;
  top: 40px;
}

/* 左半部 */
.left_block {
  height: 100%;
  width: 30%;
  background-image: url(../img/left_side-04.jpg);
  background-repeat: no-repeat;
}

/* 書 */
.bookspace {
  position: absolute;
  top: 300px;
  right: 48%;
  /* background-color: aqua; */
  z-index: 10;
  /* transition-duration: 2s;
    transition-timing-function: cubic-bezier(.35,-0.31,.63,1.3); */
}

/* 文字區 */
.text_block {
  position: absolute;
  width: 60%;
  right: 155px;
  top: 160px;
  bottom: 80px;
  max-width: 1080px;
  background-color: #eee;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
          transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
}

.text_block.text_block_first {
  right: 0;
}

.text_block.hide {
  right: -1500px;
}

.text_block .title_block {
  position: absolute;
  left: 0%;
  /* height: 100px; */
  /* min-width: 700px;   */
  /* background-color: #555555; */
}

.text_block.text_block_first .title_block {
  position: absolute;
  left: 45%;
  top: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  /* background-color: #555555; */
}

.text_block.text_block_first .title_block h1 {
  padding-bottom: 10px;
  width: 100%;
  text-align: right;
  font-size: 55px;
  width: 600px;
}

.text_block .title_block .center {
  margin: auto;
  width: 600px;
}

.text_block .title_block h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  text-align: right;
  font-size: 55px;
  display: inline-block;
  /* transform: translateX(-50%); */
}

.text_block .title_block h2 {
  letter-spacing: 3px;
  text-align: right;
}

.text_block_first hr {
  position: absolute;
  left: -10px;
  right: -10px;
  color: #000;
  z-index: 10;
}

.text_block > p {
  position: absolute;
  right: 140px;
  left: 40%;
  top: 135px;
  height: 300px;
  line-height: 30px;
  letter-spacing: 2px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  background-color: #aaa;
  overflow: auto;
}

.text_block > p::scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.text_block > p::scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

/* 文字右側按鈕區 */
.text_block .btn_area {
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.text_block .btn_area::before {
  content: "";
  width: 4px;
  background-color: gray;
  height: 100%;
  position: absolute;
  left: -4px;
}

.text_block .btn_area .btn_block {
  width: 40px;
  height: 60px;
  background-image: url(../img/more按鈕-05.jpg);
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* *************動畫************ */
/* 開場位置 */
.bookspace.begin {
  right: 60%;
}

.bookspace.end {
  right: 48%;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
          transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
}

/* .text_block.begin {
    position: absolute;
    right: 55px;
}


.text_block > p.begin {
    transform: translateX(-25%);
}

.text_block .hide{
    transform: translateX(100%);
} */
@media screen and (max-width: 375px) {
  .nav {
    display: none;
  }
  .bookspace {
    display: none;
  }
  .phone_nav {
    display: block;
  }
}
/*# sourceMappingURL=home.css.map */