@charset "UTF-8";
.nav {
  position: absolute;
  width: 62px;
  height: 100%;
  background-color: #3E3A39;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: left;
  right: 0;
  z-index: 10;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.2, 0.63, 1.3);
          transition-timing-function: cubic-bezier(0.35, -0.2, 0.63, 1.3);
  overflow: hidden;
  /* 漢堡條 */
}

.nav.open {
  position: absolute;
  width: 693px;
  height: 100%;
  right: 0;
  z-index: 100;
}

.nav.full {
  -webkit-transition-timing-function: cubic-bezier(0.36, -0.25, 0.46, 0.98);
          transition-timing-function: cubic-bezier(0.36, -0.25, 0.46, 0.98);
  width: 105%;
}

@media screen and (max-width: 1200px) {
  .nav.nav {
    display: none;
  }
}

.nav ul {
  position: absolute;
  left: 170px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav ul li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  border-bottom: 2px #DBB13C solid;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.nav ul li {
  width: 100px;
  font-size: 40px;
  line-height: 100px;
  color: #fff;
  position: relative;
  z-index: 101;
}

.nav ul li::after {
  position: absolute;
  font-size: 13px;
  font-family: "微軟正黑體";
  letter-spacing: 0.1em;
  top: 0;
  bottom: 0;
  width: 246px;
  left: 130px;
  white-space: pre;
}

.nav ul li:nth-of-type(1)::after {
  content: "Home";
}

.nav ul li:nth-of-type(2)::after {
  content: "Take  your  time  in  your  travel";
}

.nav ul li:nth-of-type(3)::after {
  content: "Enjoy  activities  in  for  season";
}

.nav ul li:nth-of-type(4)::after {
  content: "Try  to  taste  local  foods";
}

.nav ul li:hover {
  color: #DBB13C;
}

.nav ul li:hover::after {
  color: #fff;
}

.nav ul :hover::before {
  left: 0%;
  right: 0%;
}

.nav .nav_pic {
  position: absolute;
  width: 152px;
  height: 211px;
  background-image: url(../img/navbar/LOGO.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: calc(100vw - 133px - 152px + 5%);
  bottom: 69px;
  display: none;
}

.nav .nav_pic.show {
  display: block;
}

.nav .nav_pic_text {
  position: absolute;
  font-size: 13px;
  font-family: "微軟正黑體";
  font-weight: bold;
  color: #fff;
  opacity: 0.5;
  line-height: 12px;
  width: 287px;
  height: 14px;
  bottom: 83px;
  text-align: right;
  left: calc(100vw - 324px - 287px + 5%);
  letter-spacing: 0.2em;
  display: none;
}

.nav .nav_pic_text.show {
  display: block;
}

.nav .ham_bar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: calc(62px / 2);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav .ham_bar.hide {
  display: none;
}

.nav .ham_bar .bar_line {
  width: 35px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav .ham_bar .bar_line.line1 {
  top: 30%;
}

.nav .ham_bar .bar_line.line3 {
  top: 70%;
}

.nav .ham_bar:hover .line1 {
  top: 25%;
}

.nav .ham_bar:hover .line3 {
  top: 75%;
}

.nav h1 {
  width: 300px;
  position: absolute;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  top: 53%;
  -webkit-transform: rotateZ(90deg) translateY(-23px);
          transform: rotateZ(90deg) translateY(-23px);
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
}

.nav .nav_back {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  background-image: url(../img/navbar/back_icon.png);
  background-position: center;
  background-size: cover;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  left: 10px;
  display: none;
}

.nav .nav_back.show {
  display: block;
}

/* 手機板NAV */
.phone_nav {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  /* 手機板漢堡條 */
  /* 手機板NAV列表 */
}

@media (max-width: 1200px) {
  .phone_nav {
    display: block;
  }
}

.phone_nav .phone_ham_bar {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 30px;
}

.phone_nav .phone_ham_bar .phone_bar_line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.phone_nav .phone_ham_bar .phone_bar_line.line1 {
  top: 15%;
}

.phone_nav .phone_ham_bar .phone_bar_line.line3 {
  top: 85%;
}

.phone_nav .phone_ham_bar .phone_bar_line.close {
  display: none;
}

.phone_nav .phone_ham_bar .phone_bar_line.close.line1 {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.phone_nav .phone_ham_bar .phone_bar_line.close.line2 {
  opacity: 0;
}

.phone_nav .phone_ham_bar .phone_bar_line.close.line3 {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 600px) {
  .phone_nav .phone_ham_bar .phone_bar_line.close {
    display: block;
  }
}

.phone_nav .phone_list {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/navbar/background.png);
  background-color: #3E3A39;
  background-size: cover;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
          transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
  z-index: 100;
}

.phone_nav .phone_list.hide {
  display: none;
}

.phone_nav .phone_list.hidding {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.phone_nav .phone_list.full {
  width: 105vw;
}

.phone_nav .phone_list.longer::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  right: -50px;
  background-color: #3E3A39;
}

.phone_nav .phone_list ul {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 422px;
  height: 472px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .phone_nav .phone_list ul {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    left: 50%;
    top: 28%;
    width: 300px;
    height: 302px;
  }
}

.phone_nav .phone_list ul li {
  font-family: "新宋体";
  font-size: 54px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}

@media (max-width: 600px) {
  .phone_nav .phone_list ul li {
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.phone_nav .phone_list ul li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -34px;
  left: 16%;
  right: 84%;
  border-bottom: 3px #DBB13C solid;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

@media (max-width: 600px) {
  .phone_nav .phone_list ul li::before {
    bottom: -21px;
  }
}

.phone_nav .phone_list ul li::after {
  position: absolute;
  font-size: 14px;
  font-family: "微軟正黑體";
  letter-spacing: 0.1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 190px;
  line-height: 32px;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .phone_nav .phone_list ul li::after {
    left: 110px;
    font-size: 8px;
  }
}

.phone_nav .phone_list ul li:nth-of-type(1)::after {
  content: "Home";
}

.phone_nav .phone_list ul li:nth-of-type(2)::after {
  content: "Take  your  time  in  your  travel";
}

.phone_nav .phone_list ul li:nth-of-type(3)::after {
  content: "Enjoy  activities  in  for  season";
}

.phone_nav .phone_list ul li:nth-of-type(4)::after {
  content: "Try  to  taste  local  foods";
}

.phone_nav .phone_list ul li:hover {
  color: #DBB13C;
}

.phone_nav .phone_list ul li:hover::after {
  color: #fff;
}

.phone_nav .phone_list ul li:hover::before {
  left: 0;
  right: 68%;
}

@media (max-width: 600px) {
  .phone_nav .phone_list ul li:hover::before {
    right: 69%;
  }
}

.phone_nav .phone_list .phone_nav_pic {
  position: absolute;
  width: 135px;
  height: 178px;
  background-image: url(../img/navbar/LOGO.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  right: 44px;
  top: 54px;
}

@media (max-width: 600px) {
  .phone_nav .phone_list .phone_nav_pic {
    width: 50px;
    height: 72px;
    left: 8%;
    top: 8%;
  }
}

.phone_nav .phone_list h1 {
  width: 300px;
  position: absolute;
  font-size: 13px;
  font-family: "微軟正黑體";
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  top: 55%;
  -webkit-transform: rotateZ(90deg) translateY(-23px);
          transform: rotateZ(90deg) translateY(-23px);
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
}

@media (max-width: 600px) {
  .phone_nav .phone_list h1 {
    display: none;
  }
}

.phone_nav .phone_list .nav_back {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  background-image: url(../img/navbar/back_icon.png);
  background-position: center;
  background-size: cover;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  left: 12px;
}

@media (max-width: 600px) {
  .phone_nav .phone_list .nav_back {
    display: none;
  }
}

body {
  width: 100vw;
  overflow: hidden;
}

.bookspace {
  position: absolute;
  right: calc((100vw - 530px) * 0.64);
  top: calc(9% + ((100vh * 0.82) * 0.16) + 213px);
  z-index: 10;
}

.bookspace.start {
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
}

.bookspace.moving {
  -webkit-transition-timing-function: cubic-bezier(0.39, 1.78, 0.7, 1.63);
          transition-timing-function: cubic-bezier(0.39, 1.78, 0.7, 1.63);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

@media (max-width: 1400px) {
  .bookspace {
    right: calc((100vw - 951px) / 2 + 113px);
    top: 15%;
  }
  .bookspace.start {
    -webkit-transform: translateY(320px);
            transform: translateY(320px);
  }
  .bookspace.moving {
    -webkit-transition-timing-function: cubic-bezier(0.69, -0.36, 0.42, 1.59);
            transition-timing-function: cubic-bezier(0.69, -0.36, 0.42, 1.59);
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
  }
}

@media (max-width: 1200px) {
  .bookspace {
    right: calc(((((100vw - 60px) * 0.91) - 372px) / 2));
    top: 10%;
  }
  .bookspace.start {
    -webkit-transform: translateY(320px) translateX(calc(-50vw - 100px));
            transform: translateY(320px) translateX(calc(-50vw - 100px));
  }
}

@media (max-width: 500px) {
  .bookspace {
    right: calc((((91vw * 0.98) - 171px) / 2));
    top: 10%;
  }
  .bookspace.start {
    -webkit-transform: translateY(320px) translateX(calc(-50vw - 30px));
            transform: translateY(320px) translateX(calc(-50vw - 30px));
  }
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#edede5), color-stop(73%, #67bd91));
  background: linear-gradient(to right, #edede5 0%, #67bd91 73%);
}

.container_pc {
  position: absolute;
  left: 60px;
  right: 0;
  top: 9%;
  bottom: 9%;
  background-color: #fff;
  /* 左半部 */
}

@media (max-width: 500px) {
  .container_pc {
    left: 20px;
  }
}

.container_pc .left_block {
  position: absolute;
  height: 100vh;
  width: 530px;
  -webkit-transform: translate(-60px, -100px);
          transform: translate(-60px, -100px);
  background-image: url(../img/PC_530x1080-14.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1400px) {
  .container_pc .left_block {
    width: 413px;
  }
}

@media (max-width: 1200px) {
  .container_pc .left_block {
    width: 21%;
    height: 34%;
    background-image: url(../img/home/icon_s.png);
    background-position: 0% 0%;
    -webkit-transform: initial;
            transform: initial;
  }
}

.container_pc .right_block {
  width: calc(100% - 530px + 60px - 62px);
  height: 68%;
  position: absolute;
  right: 62px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1400px) {
  .container_pc .right_block {
    width: calc(100% - 413px + 60px - 62px);
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .container_pc .right_block {
    width: 100%;
    right: 0;
    -webkit-transform: initial;
            transform: initial;
    top: 0;
    bottom: 0;
  }
}

.container_pc .right_block .tab {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #edede5;
}

.container_pc .right_block .tab.changing {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
          transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
}

.container_pc .right_block .tab.hide {
  display: none;
}

.container_pc .right_block .tab.hidding {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab {
    height: 44%;
    top: 52%;
  }
}

@media (max-width: 1200px) {
  .container_pc .right_block .tab {
    width: 91%;
    right: 0;
    height: 73.6%;
    top: initial;
    bottom: 0;
  }
}

@media (max-width: 700px) {
  .container_pc .right_block .tab {
    width: 94%;
  }
}

@media (max-width: 500px) {
  .container_pc .right_block .tab {
    width: 98%;
  }
}

.container_pc .right_block .tab .left_area {
  height: 100%;
}

.container_pc .right_block .tab .left_area .top_block {
  width: 100%;
  height: 213px;
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab .left_area .top_block {
    height: 82px;
  }
}

@media (max-width: 1200px) {
  .container_pc .right_block .tab .left_area .top_block {
    height: 30%;
  }
}

.container_pc .right_block .tab .left_area .top_block .title_area {
  max-width: 902px;
  width: 100%;
  height: 144px;
  padding-top: 37px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab .left_area .top_block .title_area {
    position: absolute;
    padding-top: 0;
    top: -60px;
  }
}

@media (max-width: 1200px) {
  .container_pc .right_block .tab .left_area .top_block .title_area {
    max-width: none;
    top: 11%;
  }
}

.container_pc .right_block .tab .left_area .top_block .title_area .align_center {
  margin-left: 100px;
  margin-right: 200px;
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab .left_area .top_block .title_area .align_center {
    margin-left: 30px;
    margin-right: calc(55px + 113px);
  }
}

@media (max-width: 1200px) {
  .container_pc .right_block .tab .left_area .top_block .title_area .align_center {
    margin-left: 65px;
    margin-right: calc(44px + 113px);
  }
}

@media (max-width: 700px) {
  .container_pc .right_block .tab .left_area .top_block .title_area .align_center {
    margin-left: 30px;
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .container_pc .right_block .tab .left_area .top_block .title_area .align_center {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.container_pc .right_block .tab .left_area .top_block .title_area .align_center .dot {
  width: 31px;
  height: 24px;
  background-image: url(../img/dot.png);
  background-repeat: no-repeat;
  padding: 3px 0;
}

.container_pc .right_block .tab .left_area .top_block .title_area .align_center .title {
  font-size: 55px;
  font-family: "微軟正黑體";
  font-weight: bold;
  padding-bottom: 12px;
  line-height: 55px;
}

.container_pc .right_block .tab .left_area .top_block .title_area .align_center .title span {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-image: url(../img/title_cross.png);
  background-position: 0% 0%;
  background-size: cover;
}

@media (max-width: 1200px) {
  .container_pc .right_block .tab .left_area .top_block .title_area .align_center .title {
    font-size: 40px;
    line-height: 40px;
  }
  .container_pc .right_block .tab .left_area .top_block .title_area .align_center .title span {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 700px) {
  .container_pc .right_block .tab .left_area .top_block .title_area .align_center .title {
    font-size: 30px;
    line-height: 30px;
  }
  .container_pc .right_block .tab .left_area .top_block .title_area .align_center .title span {
    width: 30px;
    height: 30px;
  }
}

.container_pc .right_block .tab .left_area .top_block .title_area .align_center hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

.container_pc .right_block .tab .left_area .top_block .title_area .align_center .sub_title {
  padding-top: 10px;
  font-family: "新宋体";
  font-size: 15px;
  text-align: end;
}

.container_pc .right_block .tab .left_area .bottom_block {
  height: calc(100% - 213px);
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab .left_area .bottom_block {
    height: calc(100% - 82px);
  }
}

.container_pc .right_block .tab .left_area .bottom_block .left_side {
  width: 36%;
  height: 100%;
  float: left;
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab .left_area .bottom_block .left_side {
    width: 0%;
  }
}

.container_pc .right_block .tab .left_area .bottom_block .right_side {
  width: 64%;
  height: 100%;
  float: left;
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab .left_area .bottom_block .right_side {
    width: 100%;
  }
}

.container_pc .right_block .tab .left_area .bottom_block .right_side .align_left {
  width: calc(100% - 131px);
  height: 100%;
}

.container_pc .right_block .tab .left_area .bottom_block .right_side .align_left p {
  text-align: justify;
  font-family: "新宋体";
  font-size: 18px;
  line-height: 28px;
  height: calc(100% - 12px);
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 8px;
  margin-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  overflow: auto;
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab .left_area .bottom_block .right_side .align_left {
    width: calc(100% - 113px);
    height: calc(100% - 55px);
  }
  .container_pc .right_block .tab .left_area .bottom_block .right_side .align_left p {
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 35px;
  }
}

@media (max-width: 1200px) {
  .container_pc .right_block .tab .left_area .bottom_block .right_side .align_left p {
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 42px;
    margin-bottom: 0px;
    height: 68%;
  }
}

@media (max-width: 700px) {
  .container_pc .right_block .tab .left_area .bottom_block .right_side .align_left {
    width: 100%;
  }
  .container_pc .right_block .tab .left_area .bottom_block .right_side .align_left p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 42px;
    height: 63%;
  }
}

@media (max-width: 500px) {
  .container_pc .right_block .tab .left_area .bottom_block .right_side .align_left p {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.container_pc .right_block .tab .left_area .bottom_block .right_side .align_left .btn_more {
  display: none;
  width: 108px;
  height: 26px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  right: 10%;
  bottom: 2%;
}

@media (max-width: 700px) {
  .container_pc .right_block .tab .left_area .bottom_block .right_side .align_left .btn_more {
    display: block;
  }
}

.container_pc .right_block .tab .right_area {
  position: absolute;
  right: 0;
  top: 0;
  width: 131px;
  height: 100%;
}

.container_pc .right_block .tab .right_area .v_line {
  width: 5px;
  height: 100%;
  background-color: #c6c6c6;
  border-radius: 2px;
}

.container_pc .right_block .tab .right_area .buttom_area {
  width: 39px;
  height: 55px;
  position: absolute;
  left: 50%;
  bottom: 38px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container_pc .right_block .tab .right_area .buttom_area .more_icon {
  width: 39px;
  height: 31px;
  background-image: url(../img/more_icon.png);
  background-position: center;
  background-size: cover;
}

.container_pc .right_block .tab .right_area .buttom_area .more_text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
}

.container_pc .right_block .tab .right_area .buttom_area::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 50%;
  border-bottom: 1px solid black;
}

.container_pc .right_block .tab .right_area .buttom_area:hover::after {
  top: 0;
  bottom: 0;
}

@media (max-width: 1400px) {
  .container_pc .right_block .tab .right_area {
    width: 113px;
  }
}

@media (max-width: 700px) {
  .container_pc .right_block .tab .right_area {
    display: none;
  }
}

.container_pc .right_block .begin_tab {
  position: absolute;
  width: 100%;
  top: 16%;
  bottom: 16%;
  height: unset;
  background-color: #edede5;
}

@media (max-width: 1400px) {
  .container_pc .right_block .begin_tab {
    width: 60vw;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .container_pc .right_block .begin_tab {
    width: 81vw;
  }
}

.container_pc .right_block .begin_tab .center_block {
  width: 740px;
  position: absolute;
  left: 50%;
  top: 46%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1400px) {
  .container_pc .right_block .begin_tab .center_block {
    height: 100%;
    top: 0;
    right: 0;
    left: initial;
    width: 60vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .container_pc .right_block .begin_tab .center_block .space_area {
    display: none;
  }
  .container_pc .right_block .begin_tab .center_block .title_area {
    position: absolute;
    width: 410px;
    top: 20%;
  }
}

@media (max-width: 1200px) {
  .container_pc .right_block .begin_tab .center_block {
    width: initial;
    right: 0;
    height: initial;
    top: -38%;
    bottom: -29%;
    left: 0;
    -webkit-transform: initial;
            transform: initial;
    display: block;
    background-image: url(../img/home/首頁-平板手機.png);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.container_pc .right_block .begin_tab .center_block .space_area {
  width: 261px;
  height: 50px;
}

@media (max-width: 1200px) {
  .container_pc .right_block .begin_tab .center_block .space_area {
    display: none;
  }
}

.container_pc .right_block .begin_tab .center_block .title_area {
  width: calc(100% - 261px);
  height: 155px;
  position: relative;
}

@media (max-width: 1200px) {
  .container_pc .right_block .begin_tab .center_block .title_area {
    display: none;
  }
}

.container_pc .right_block .begin_tab .center_block .title_area .dot {
  font-size: 55px;
  position: absolute;
  left: 10px;
  padding-left: 5px;
  padding-top: 5px;
}

.container_pc .right_block .begin_tab .center_block .title_area .title {
  font-family: "微軟正黑體";
  font-weight: bold;
  font-size: 55px;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 12px;
}

.container_pc .right_block .begin_tab .center_block .title_area .title span {
  color: #DBB13C;
}

.container_pc .right_block .begin_tab .center_block .title_area hr {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 40px;
}

.container_pc .right_block .begin_tab .center_block .title_area .sub_title {
  font-size: 21px;
  position: absolute;
  right: 0;
  bottom: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

footer .footer {
  font-size: 13.6px;
  font-family: "微軟正黑體";
}

@media (max-width: 375px) {
  footer .footer {
    font-size: 8px;
  }
}

/* *************動畫************ */
/* 開場位置 */
.bookspace.begin {
  right: 60%;
}

.bookspace.end {
  right: 48%;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
          transition-timing-function: cubic-bezier(0.35, -0.31, 0.63, 1.3);
}
/*# sourceMappingURL=home_v2.css.map */